input[type="radio"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.5em;
    height: 1.5em;
    border: 0.15em solid #6e3290;;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    cursor: pointer;
  }
  input[type="radio"]::before {
    content: "";
    width: .8em;
    height: .8em;
    border-radius: 50%;
    transform: scale(0);
    /* transition: 120ms transform ease-in-out; */
    box-shadow: inset 1em 1em #6e3290;
  }
  
  input[type="radio"]:checked::before {
    transform: scale(1);
  }
  .form-control {
    font-size: 1.1rem;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 1.4em;
    cursor: pointer;
  }

#log1 .box{
    position: relative;
    width:90% ;
}
#log1 .box input{
    outline: none;
    height: 50px;
    border: 0;
    border-bottom: 2px solid #757575;
    font-size: 20px;
}
#log1 .box span{
    position: absolute;
    left: 0;
    bottom: 6px;
    pointer-events: none;
    color: #757575;
    font-size: 20px;
}
#log1 .box input:valid ~ span,
#log1 .box input:focus ~ span{
    color: #6e3290;
    transform:translateY(-30px);
    font-size: .8em;
    background-color: white;
    font-weight: bold;
}
#log1 .box input:valid ,
#log1 .box input:focus{
    border:0px solid ;
    border-bottom: 2px solid #6e3290;
}
#select:focus{
    border-bottom: 2px solid #6e3290;
}
#select option:hover{
    background-color:yellow;
}
#atc{
    margin-left: 20px;
    padding:12px;
    width: 95%;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: #60c378;
    color: white;
}